/* Navbar */
.logo {
  width: 8%;
}

.navbar-brand {
  font-family: viga;
  font-size: 18px;
}

.nav-link {
  font-family: Ubuntu;
  font-size: 16px;
}
/* Jumbotron */
.jumbotron {
  background-image: url(img/bg.png);
  background-size: cover;
  height: 500px;
}

.judul {
  color: #fef9ef;
  font-family: Crete Round;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 0.1em;
  margin-top: 30%;
}

.subjudul {
  width: 300px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
}

.btn-dark {
  background-color: #ee964b !important;
  border-radius: 10px;
  font-family: ABeeZee;
  font-size: 16px;
}

/* Paket */
.judul-paket {
  font-family: Kreon;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: #f95738;
  text-transform: uppercase;
}

.subjudul-paket {
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ee964b;
}

.card {
  border-radius: 10px;
}

.opsitombol {
  border-style: hidden;
  filter: drop-shadow(2px 3px 20px rgba(0, 0, 0, 0.3));
  border-radius: 10px;
}

.title-card {
  font-family: Crete Round;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.01em;
  color: #f95738;
}

.card-text {
  font-family: Crete Round;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #f95738;
}

/* Tablet */
@media (min-width: 456px) {
  .judul {
    margin-top: 10%;
    /* font-size: 40px; */
  }
}
/* DESKTOP */
@media (min-width: 992px) {
  /* Navbar */
  .navbar-brand,
  .nav-link {
    color: #fef9ef !important;
  }

  .navbar-brand {
    font-family: viga;
    font-size: 22px;
  }

  .nav-link {
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: 18;
    margin-right: 20px;
  }

  .nav-link:hover {
    color: #ee964b !important;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  }

  /* Jumbotron */
  .jumbotron {
    margin-top: -80px;
    height: 640px;
  }

  .judul {
    margin-top: 15%;
    font-size: 40px;
  }

  .subjudul {
    width: 370px;
    font-size: 20px;
  }

  .btn-dark {
    font-size: 18px;
  }

  .judul-paket {
    font-size: 26px;
  }

  .subjudul-paket {
    font-size: 22;
  }

  .card-text {
    font-size: 18px;
  }
}
