html {
  scroll-behavior: smooth;
}
/* NAVBAR */
.logo {
  width: 50px;
}

.navbar-brand {
  font-family: Viga;
  font-size: 18px;
  color: #fef9ef;
}

.navbar-brand:hover {
  color: #f4d35e;
}

/* .navbar {
  background-color: #f95738;
} */

.navbar .navbar-toggler {
  color: #a8dadc;
  border-color: #457b9d;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
  font-family: Ubuntu;
  font-size: 14px;
  color: #fef9ef;
}

.nav-link:hover {
  color: #f4d35e;
}

.jumbotron {
  background-image: url(img/bg.png);
  background-size: cover;
  height: 640px;
}

.caption {
  width: 371px;
  font-family: ABeeZee;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 243px;
}

.titlex {
  font-family: Crete Round;
  font-size: 40px;
  line-height: 51px;
  letter-spacing: 0.1em;
  margin-left: 243px;
  color: #fef9ef;
}

@media (min-width: 992px) {
  .logo {
    padding: auto;
    width: 60px;
  }

  .navbar-brand {
    font-size: 22px;
  }

  .nav-link {
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 20px;
    color: #fef9ef;
  }
}
